<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "mybatis-3-config.dtd" >
<configuration>

	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>
	
	<typeAliases>
		<typeAlias type="com.kh.soyo.member.model.vo.Member" alias="member" />
		<typeAlias type="com.kh.soyo.board.model.vo.Board" alias="board" />
		<typeAlias type="com.kh.soyo.cart.model.vo.Cart" alias="cart" />
		<typeAlias type="com.kh.soyo.cart.model.vo.Delivery" alias="delivery" />
		<typeAlias type="com.kh.soyo.notice.model.vo.Notice" alias="notice" />
		<typeAlias type="com.kh.soyo.product.model.vo.Product" alias="product" />
		<typeAlias type="com.kh.soyo.review.model.vo.Review" alias="review" />
		<typeAlias type="com.kh.soyo.wishlist.model.vo.Wish" alias="wish" />
	</typeAliases>

</configuration>