<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="cartMapper">

    <resultMap id="cartResultMap" type="cart">
        <result property="cartNo" column="CART_NO" />
        <result property="productNo" column="PRODUCT_NO" />
        <result property="productCount" column="PRODUCT_COUNT" />
        <result property="memberId" column="MEMBER_ID" />
        <result property="cartEnrollDate" column="CART_ENROLL_DATE" />
        <result property="productName" column="PRODUCT_NAME" />
        <result property="productPrice" column="PRODUCT_PRICE" />
        <result property="productChange" column="PRODUCT_CHANGE" />
        <result property="orderImpNo" column="ORDER_IMPNO" />
    </resultMap>

    <select id="cartList" parameterType="string" resultMap="cartResultMap">
        SELECT 
            C.CART_NO,
            C.PRODUCT_NO,
            C.PRODUCT_COUNT,
            C.MEMBER_ID,
            P.PRODUCT_NAME,
            P.PRODUCT_PRICE,
            P.PRODUCT_CHANGE
        FROM CART C
        JOIN PRODUCT P ON P.PRODUCT_NO = C.PRODUCT_NO
        WHERE C.MEMBER_ID = #{memberId}
    </select>
	
	<update id="updateCartCount" parameterType="map">
    UPDATE CART
  	  SET PRODUCT_COUNT = #{count}
    WHERE PRODUCT_NO = #{productNo}
      AND MEMBER_ID = #{memberId}
	</update>
	
	<select id="updateCart" parameterType="map"
							resultMap="cartResultMap">
		SELECT *
		 FROM CART
		WHERE MEMBER_ID = #{memberId}
		  AND PRODUCT_NO = #{productNo}		
	</select>
	
	<delete id="deleteSelected" parameterType="map">
    DELETE FROM cart
     WHERE MEMBER_ID = #{memberId}
       AND PRODUCT_NO IN
	    <foreach item="no" collection="productNoList" open="(" separator="," close=")">
	        #{no}
	    </foreach>
	</delete>
	
	<select id="selectedProducts" parameterType="map" resultMap="cartResultMap">
    SELECT P.PRODUCT_NO, P.PRODUCT_PRICE, C.PRODUCT_COUNT,P.PRODUCT_NAME
   	  FROM CART C
      JOIN PRODUCT P ON P.PRODUCT_NO = C.PRODUCT_NO
     WHERE C.MEMBER_ID = #{memberId}
       AND C.PRODUCT_NO IN 
      <foreach collection="productNoList" item="productNo" open="(" separator="," close=")">
        #{productNo}
      </foreach>
	</select>
	
	<insert id="insertOrder" parameterType="Delivery">
    INSERT INTO ORDER_TB (
        ORDER_NO, MEMBER_ID, RECEIVER_NAME, RECEIVER_PHONE,
        REQUEST_MSG, TOTAL_PRICE, ORDER_IMPNO, ORDER_DATE
    ) VALUES (
        ORDER_SEQ.NEXTVAL, #{memberId}, #{receiverName}, #{receiverPhone},
        #{requestMsg}, #{totalPrice}, #{orderImpNo}, SYSDATE
    )
</insert>

 	<insert id="insertAddress" parameterType="Delivery">
    INSERT INTO DELIVERY_ADDRESS (
        ADDRESS_NO,
        ADDRESS_NAME,
        ADDRESS_OTHER,
        IS_DEFAULT,
        RECEIVER_NAME,
        RECEIVER_PHONE,
        MEMBER_ID,
        ORDER_IMPNO
    ) VALUES (
        SEQ_DELIVERY_ADDRESS.NEXTVAL,
        #{addressName},
        #{addressOther},
        'N',
        #{receiverName},
        #{receiverPhone},
        #{memberId},
        #{orderImpNo}
    )
</insert>

	<delete id="deleteCartProduct" parameterType="Delivery">
	    DELETE FROM CART
	    WHERE MEMBER_ID = #{memberId}
	    AND PRODUCT_NO IN
	    <foreach item="productNo" collection="selectedProductList" open="(" separator="," close=")">
	        #{productNo}
	    </foreach>
	</delete>
	
	<insert id="insertPayment" parameterType="map">
	    INSERT INTO PAYMENT (
	        ORDER_IMPNO,
	        PRODUCT_NO,
	        PRODUCT_COUNT,
	        CANCEL_STATUS,
	        CANCEL_REASON
	    ) VALUES (
	        #{orderImpNo},
	        #{productNo},
	        #{productCount},
	        '결제완료',
	        NULL
	    )
	</insert>
	
	
	
    <insert id="insertCart" parameterType="cart">
       INSERT INTO CART (
           CART_NO,
           PRODUCT_NO,
           PRODUCT_COUNT,
           CART_ENROLLDATE,
           MEMBER_ID
       ) VALUES (
           SEQ_CART_NO.NEXTVAL,
           #{productNo},
           #{productCount},
           SYSDATE,
           #{memberId}
       )
    </insert>
	


</mapper>

















