<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="cartMapper">

    <resultMap id="cartResultMap" type="cart">
        <result property="cartNo" column="CART_NO" />
        <result property="productNo" column="PRODUCT_NO" />
        <result property="productCount" column="PRODUCT_COUNT" />
        <result property="memberId" column="MEMBER_ID" />
        <result property="cartEnrollDate" column="CART_ENROLL_DATE" />
        <result property="productName" column="PRODUCT_NAME" />
        <result property="productPrice" column="PRODUCT_PRICE" />
        <result property="productChange" column="PRODUCT_CHANGE" />
    </resultMap>

    <select id="cartList" parameterType="string" resultMap="cartResultMap">
        SELECT 
            C.CART_NO,
            C.PRODUCT_NO,
            C.PRODUCT_COUNT,
            C.MEMBER_ID,
            P.PRODUCT_NAME,
            P.PRODUCT_PRICE,
            P.PRODUCT_CHANGE
        FROM CART C
        JOIN PRODUCT P ON P.PRODUCT_NO = C.PRODUCT_NO
        WHERE C.MEMBER_ID = #{memberId}
    </select>
	
	<update id="updateCartCount" parameterType="map">
    UPDATE CART
  	  SET PRODUCT_COUNT = #{count}
    WHERE PRODUCT_NO = #{productNo}
      AND MEMBER_ID = #{memberId}
	</update>
	
	<select id="updateCart" parameterType="map"
							resultMap="cartResultMap">
		SELECT *
		 FROM CART
		WHERE MEMBER_ID = #{memberId}
		  AND PRODUCT_NO = #{productNo}		
	</select>
	
	<delete id="deleteSelected" parameterType="map">
    DELETE FROM cart
     WHERE MEMBER_ID = #{memberId}
       AND PRODUCT_NO IN
    <foreach item="no" collection="productNoList" open="(" separator="," close=")">
        #{no}
    </foreach>
</delete>
</mapper>