<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="cartMapper">

    <resultMap id="cartResultMap" type="cart">
        <result property="cartNo" column="CART_NO" />
        <result property="productNo" column="PRODUCT_NO" />
        <result property="productCount" column="PRODUCT_COUNT" />
        <result property="memberId" column="MEMBER_ID" />
        <result property="cartEnrollDate" column="CART_ENROLL_DATE" />
        <result property="productName" column="PRODUCT_NAME" />
        <result property="productPrice" column="PRODUCT_PRICE" />
        <result property="productChange" column="PRODUCT_CHANGE" />
        <result property="orderImpNo" column="ORDER_IMPNO" />
        <result property="productSize" column="PRODUCT_SIZE" />
        <result property="stockCount" column="STOCK_COUNT"/>
    </resultMap>

    <select id="cartList" parameterType="string" resultMap="cartResultMap">
       SELECT 
		    C.CART_NO,
		    C.PRODUCT_NO,
		    C.PRODUCT_COUNT,
		    C.MEMBER_ID,
		    C.PRODUCT_SIZE,
		    P.PRODUCT_NAME,
		    P.PRODUCT_PRICE,
		    P.PRODUCT_CHANGE,
		    PS.STOCK_COUNT
		FROM CART C
		JOIN PRODUCT P ON P.PRODUCT_NO = C.PRODUCT_NO
		JOIN PRODUCT_SIZE PS ON P.PRODUCT_NO = PS.PRODUCT_NO 
		AND C.PRODUCT_SIZE = PS.PRODUCT_SIZE 
		WHERE C.MEMBER_ID = #{memberId}
    </select>
	
	
	<update id="updateCartCount" parameterType="cart">
	    UPDATE CART
	    SET PRODUCT_COUNT = #{productCount}
	    WHERE PRODUCT_NO = #{productNo}
	      AND MEMBER_ID = #{memberId}
	      AND PRODUCT_SIZE = #{productSize}
	</update>
	
	
	<select id="updateCart" parameterType="map"
							resultMap="cartResultMap">
		SELECT *
		 FROM CART
		WHERE MEMBER_ID = #{memberId}
		  AND PRODUCT_NO = #{productNo}		
	</select>
	
	<delete id="deleteSelected" parameterType="map">
    DELETE FROM cart
     WHERE MEMBER_ID = #{memberId}
       AND PRODUCT_NO IN
	    <foreach item="no" collection="productNoList" open="(" separator="," close=")">
	        #{no}
	    </foreach>
	</delete>
	
	<select id="selectedProducts" parameterType="map" resultMap="cartResultMap">
    SELECT P.PRODUCT_NO, P.PRODUCT_PRICE, C.PRODUCT_COUNT,P.PRODUCT_NAME
   	  FROM CART C
      JOIN PRODUCT P ON P.PRODUCT_NO = C.PRODUCT_NO
     WHERE C.MEMBER_ID = #{memberId}
       AND C.PRODUCT_NO IN 
      <foreach collection="productNoList" item="productNo" open="(" separator="," close=")">
        #{productNo}
      </foreach>
	</select>
	
	<insert id="insertOrder" parameterType="delivery">
    INSERT INTO ORDER_TB (
        ORDER_NO, MEMBER_ID, RECEIVER_NAME, RECEIVER_PHONE,
        REQUEST_MSG, TOTAL_PRICE, ORDER_IMPNO, ORDER_DATE, ADDRESS, ADDRESS_ALIAS
    ) VALUES (
        ORDER_SEQ.NEXTVAL, #{memberId}, #{receiverName}, #{receiverPhone},
        #{requestMsg}, #{totalPrice}, #{orderImpNo}, SYSDATE, #{addressOther}, #{addressAlias}
    )
</insert>

 
	<delete id="deleteCartProduct" parameterType="Delivery">
	    DELETE FROM CART
	    WHERE MEMBER_ID = #{memberId}
	    AND PRODUCT_NO IN
	    <foreach item="productNo" collection="selectedProductList" open="(" separator="," close=")">
	        #{productNo}
	    </foreach>
	</delete>
	
	<insert id="insertPayment" parameterType="map">
	    INSERT INTO PAYMENT (
	        ORDER_IMPNO,
	        PRODUCT_NO,
	        PRODUCT_COUNT,
	        CANCEL_STATUS,
	        CANCEL_REASON
	    ) VALUES (
	        #{orderImpNo},
	        #{productNo},
	        #{productCount},
	        '결제완료',
	        NULL
	    )
	</insert>
	
	
	
    <insert id="insertCart" parameterType="cart">
       INSERT INTO CART (
           CART_NO,
           PRODUCT_NO,
           PRODUCT_COUNT,
           CART_ENROLLDATE,
           MEMBER_ID,
           PRODUCT_SIZE
       ) VALUES (
           SEQ_CART_NO.NEXTVAL,
           #{productNo},
           #{productCount},
           SYSDATE,
           #{memberId},
           #{productSize}
       )
    </insert>
    
    
	<delete id="deleteSingleItem" parameterType="map">
	    DELETE FROM CART
	    WHERE MEMBER_ID = #{memberId}
	      AND PRODUCT_NO = #{productNo}
	      AND PRODUCT_SIZE = #{productSize}
	</delete>
    
	


</mapper>

















