<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="deliveryAddressMapper">
	<resultMap id="deliveryAddressResultMap" type="deliveryAddress">
		<result property="addressNo" column="ADDRESS_NO" />
		<result property="addressName" column="ADDRESS_NAME" />
		<result property="addressOther" column="ADDRESS_OTHER" />
		<result property="isDefault" column="IS_DEFAULT" />
		<result property="receiverName" column="RECEIVER_NAME" />
		<result property="receiverPhone" column="RECEIVER_PHONE" />
		<result property="memberId" column="MEMBER_ID" />
	</resultMap>
	
	<select id="selectDelivery" parameterType="string" resultMap="deliveryAddressResultMap">
		SELECT * FROM DELIVERY_ADDRESS
		    WHERE MEMBER_ID = #{memberId}
	</select>
	
	<select id="selectDeliveryDefault" parameterType="string" resultMap="deliveryAddressResultMap">
		SELECT * FROM DELIVERY_ADDRESS
		    WHERE MEMBER_ID = #{memberId}
		      AND IS_DEFAULT = 'Y'
	</select>
	
	<select id="selectDeliveryNotDefault" parameterType="string" resultMap="deliveryAddressResultMap">
		SELECT * FROM DELIVERY_ADDRESS
		    WHERE MEMBER_ID = #{memberId}
		      AND IS_DEFAULT = 'N'
	</select>
	
	<!-- 배송지 등록 쿼리문 -->
	<insert id="insertDelivery" parameterType="deliveryAddress">
		INSERT INTO DELIVERY_ADDRESS(ADDRESS_NO
                           , ADDRESS_NAME
                           , ADDRESS_OTHER
                           , IS_DEFAULT
                           , RECEIVER_NAME
                           , RECEIVER_PHONE
                           , MEMBER_ID)
                    VALUES(DELIVERY_ADDRESS_SEQ.NEXTVAL
                         , #{addressName}
                         , #{addressOther}
                         , 'N'
                         , #{receiverName}
                         , #{receiverPhone}
                         , #{memberId})
	</insert>
	
	<!-- 기본 배송지 설정 쿼리문 -->
	<update id="updateDefault" parameterType="deliveryAddress">
		UPDATE DELIVERY_ADDRESS SET IS_DEFAULT = 'Y'
		    WHERE MEMBER_ID = #{memberId}
              AND ADDRESS_NO = #{addressNo}
		      AND IS_DEFAULT = 'N'
	</update>
	
	<!-- 기본배송지 해제 쿼리문 -->
	<update id="newUpdateDefault" parameterType="deliveryAddress">
		UPDATE DELIVERY_ADDRESS SET IS_DEFAULT = 'N'
		    WHERE MEMBER_ID = #{memberId}
		      AND IS_DEFAULT = 'Y'
	</update>
	
	<!-- 배송지 수정용 쿼리문 -->
	<update id="updateAddress" parameterType="deliveryAddress">
		UPDATE DELIVERY_ADDRESS SET ADDRESS_NAME = #{addressName}
                          , ADDRESS_OTHER = #{addressOther}
                          , RECEIVER_NAME = #{receiverName}
                          , RECEIVER_PHONE = #{receiverPhone}
                          WHERE ADDRESS_NO = #{addressNo}
	</update>
	
	<!-- 배송지 삭제 쿼리문 -->
	<delete id="deleteAddress" parameterType="deliveryAddress">
		DELETE FROM DELIVERY_ADDRESS
    		WHERE ADDRESS_NO = #{addressNo}
	</delete>
	
</mapper>