#write-form {
    width: 1400px;
    height: 600px;
    margin: auto;
}

#quillBtn {
    float: right;
    width: 90%;
}

#submitBtn {
    width: 200px;
    height: 40px;
}

#quill-title {
    width: 800px;
    height: 50px;
    margin-bottom: 30px;
    font-size: 25px;
    font-weight: 800;

}

.size-btn {
    background-color: white;
    border: 2px solid #E3E4FA;
    padding: 0.5rem 1.5rem;
    margin: 0.25rem;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.size-btn.active {
    background-color: #E3E4FA;
    color: #333;
}
#tag-area{
    display : flex;
}
#tag-01{
    height : 50px;
    padding-left : 10px;
    font-size : 18px;
}
#tag-01-area{
    width : 20%;
    display : inline-block;
}
#tag-02-area{
    font-size : 20px;
    width : 80%;
    display : inline;
}
.form-check-label{
    margin-left : 30px;
}
#product-caption{
    width : 80%;
    font-size : 26px;
    padding : 7px;
}

#thumbnail{
    width : 200px;
    height: 250px;
}
#product-img-form{
    display : flex;
    gap : 50px;
    margin-right : 40px;
}

#product-form{
    width : 80%;
    margin : auto;
}
#product-img-form>div{
    display : block;
}
