
#dilivery-filterArea{
   display: flex;
  align-items: center;
  gap: 30px;


  justify-self: end;  /* 오른쪽 정렬 */

}

.delivery-filterBtn{
 grid-column: 3;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
  border : none;
  background-color: white;
  font-size : 22px;


}

.delivery-filterBtn:hover{
      background-Color:#E3E4FA;
     border-Radius:  10px;
}