<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="deliveryMapper">

	<resultMap id="deliveryResultSet" type="Delivery">
	    <result property="orderNo" column="ORDER_NO" />
	    <result property="orderImpNo" column="ORDER_IMPNO" />
	    <result property="totalPrice" column="TOTAL_PRICE" />
	    <result property="receiverName" column="RECEIVER_NAME" />
	    <result property="receiverPhone" column="RECEIVER_PHONE" />
	    <result property="requestMsg" column="REQUEST_MSG" />
	    <result property="deliveryDate" column="DELIVERY_DATE" />
	    <result property="cancelDate" column="CANCEL_DATE" />
	    <result property="orderDate" column="ORDER_DATE" />
	    <result property="orderStatus" column="ORDER_STATUS" />
	    <result property="memberId" column="MEMBER_ID" />
	    
	    <result property="addressName" column="ADDRESS_NAME" />
	    <result property="addressOther" column="ADDRESS_OTHER"/>
	    
	    <result property="memberName" column="MEMBER_NAME" />
	        <result property="productName" column="PRODUCT_NAME" />
    <result property="productCount" column="PRODUCT_COUNT" />
    <result property="productPrice" column="PRODUCT_PRICE" />
	</resultMap>
	
	<resultMap id="paymentResultSet" type="Payment">
		 <result property="orderDate" column="ORDER_DATE"/>
		  <result property="memberName" column="MEMBER_NAME"/>
		  <result property="productName" column="PRODUCT_NAME"/>
		  <result property="productPrice" column="PRODUCT_PRICE"/>
		  <result property="cancelStatus" column="CANCEL_STATUS"/>
	</resultMap>
	<select id="deliveryList" resultMap="deliveryResultSet">
	SELECT O.*,
	       M.MEMBER_NAME
	  FROM ORDER_TB O
	  JOIN MEMBER M ON O.MEMBER_ID = M.MEMBER_ID 
	</select>
								
	<select id="deliveryDetail" parameterType="_int"
								resultMap="deliveryResultSet">
		SELECT  O.ORDER_NO,
			    O.ORDER_IMPNO,
			    O.RECEIVER_NAME,
			    O.RECEIVER_PHONE,
			    O.REQUEST_MSG,
			    O.DELIVERY_DATE,
			    O.ORDER_STATUS,
			    M.MEMBER_ID,
			    D.ADDRESS_NAME,
			    D.ADDRESS_OTHER	    
	FROM ORDER_TB O
	JOIN MEMBER M ON M.MEMBER_ID = O.MEMBER_ID
	JOIN DELIVERY_ADDRESS D ON D.MEMBER_ID = O.MEMBER_ID  
	WHERE O.ORDER_NO = #{orderNo}
	
	</select>

	<select id="deliveryProduct" parameterType="_int"
								resultMap="deliveryResultSet">
								
		SELECT P.PRODUCT_CHANGE,
		       P.PRODUCT_NAME,
		       C.PRODUCT_COUNT,
		       P.PRODUCT_PRICE
	  FROM PRODUCT P
	  JOIN CART C ON C.PRODUCT_NO = P.PRODUCT_NO
	  JOIN ORDER_TB O ON O.MEMBER_ID = C.MEMBER_ID
	  WHERE ORDER_NO=#{orderNo}
	</select>
	
	<update id="changeStatus" parameterType="Delivery">
	UPDATE ORDER_TB
	   SET ORDER_STATUS = #{orderStatus}
	 WHERE ORDER_NO = #{orderNo}
	</update>
	
	<select id="paymentList" resultMap="paymentResultSet">
	SELECT O.ORDER_DATE,
	       M.MEMBER_NAME,
	       PD.PRODUCT_NAME,
	       PD.PRODUCT_PRICE,
	       P.CANCEL_STATUS
	FROM PAYMENT P
	JOIN ORDER_TB O ON O.MEMBER_ID = P.MEMBER_ID
	JOIN MEMBER M ON M.MEMBER_ID = P.MEMBER_ID
	JOIN PRODUCT PD ON PD.PRODUCT_NO = P.PRODUCT_NO
	ORDER BY O.ORDER_DATE DESC		
	</select>
	
	<select id="searchMember" resultMap="paymentResultSet">
	SELECT O.ORDER_DATE,
	       M.MEMBER_NAME,
	       PD.PRODUCT_NAME,
	       PD.PRODUCT_PRICE,
	       P.CANCEL_STATUS
	FROM PAYMENT P
	JOIN ORDER_TB O ON O.MEMBER_ID = P.MEMBER_ID
	JOIN MEMBER M ON M.MEMBER_ID = P.MEMBER_ID
	JOIN PRODUCT PD ON PD.PRODUCT_NO = P.PRODUCT_NO
	WHERE M.MEMBER_NAME LIKE '%' || #{memberName} || '%'
	ORDER BY O.ORDER_DATE DESC		
	</select>
	
</mapper> 














