<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="memberMapper">
	
	<resultMap type="member" id="memberResultSet">
		<id column="MEMBER_ID" property="memberId" />
		<result column="MEMBER_PWD" property="memberPwd" />
		<result column="MEMBER_NAME" property="memberName" />
		<result column="GENDER" property="gender" />
		<result column="BIRTH_DATE" property="birthDate" />
		<result column="EMAIL" property="email" />
		<result column="PHONE" property="phone" />
		<result column="ADDRESS" property="address" />
		<result column="ENROLL_DATE" property="enrollDate" />
		<result column="STATUS" property="status" />
		
		
	
	</resultMap>
	
	
	<select id="memberList" resultMap="memberResultSet">
		SELECT *
		  FROM MEMBER
		 ORDER BY ENROLL_DATE DESC
	
	</select>
	
	<select id="memberListCount" resultType="_int">
	
		SELECT COUNT(*)
		  FROM MEMBER
	
	</select>
	
	
	<update id="deleteMember" parameterType="string">
		UPDATE MEMBER
		   SET STATUS = 'N'
		 WHERE MEMBER_ID = #{memberId} 
		   AND STATUS = 'Y'
	</update>
	
	<update id="repairMember" parameterType="string">
		
		UPDATE MEMBER
		   SET STATUS = 'Y'
		 WHERE MEMBER_ID = #{memberId}
		   AND STATUS = 'N'
	</update>
	
	<select id="memberDetail" parameterType="string"
								resultMap="memberResultSet">
			SELECT *
			  FROM MEMBER
			 WHERE MEMBER_ID = #{memberId}					
	
	</select>
	
	
	<update id="memberUpdateForm" parameterType="member">
		
		UPDATE MEMBER
		   SET MEMBER_NAME = #{memberName}
		     , GENDER = #{gender}
		     , BIRTH_DATE = #{birthDate}
		     , EMAIL = #{email}
		     , PHONE = #{phone}
		     , ADDRESS = #{address}
		  WHERE MEMBER_ID = #{memberId}
	
	</update>

	<select id="searchMemberCount" parameterType="hashmap"
									resultType="_int">
		SELECT COUNT(*)
		  FROM MEMBER
		 WHERE 
		 <if  test="searchMenu == 'memberId'">
		 	MEMBER_ID
		 </if>
		 <if test="searchMenu == 'memberName'" >
		 	MEMBER_NAME
		 </if>	
		 LIKE '%' || #{searchText} || '%'
	</select>

	<select id="searchMember" parameterType="hashmap"
								resultMap="memberResultSet">
		SELECT *
		  FROM(
			SELECT ROWNUM RNUM, A.*
			FROM (
				SELECT MEMBER_ID,
					   MEMBER_NAME,
					   ENROLL_DATE,
					   STATUS
				  FROM MEMBER
				 WHERE 
				 <if test="searchMenu == 'memberId'" >
				 	MEMBER_ID LIKE '%' || #{searchText} || '%'
				 </if>
				 <if test="searchMenu == 'memberName'">
				 	MEMBER_NAME LIKE '%' || #{searchText} || '%'
				 </if>
				  
				ORDER BY ENROLL_DATE DESC
				) A
			)
		WHERE RNUM BETWEEN #{startRow} AND #{endRow}
		
	
	</select>

	
</mapper>
