<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="memberMapper">
	
	<resultMap type="member" id="memberResultSet">
		<id column="MEMBER_ID" property="memberId" />
		<result column="MEMBER_PWD" property="memberPwd" />
		<result column="MEMBER_NAME" property="memberName" />
		<result column="GENDER" property="gender" />
		<result column="BIRTH_DATE" property="birthDate" />
		<result column="EMAIL" property="email" />
		<result column="PHONE" property="phone" />
		<result column="ADDRESS" property="address" />
		<result column="ENROLL_DATE" property="enrollDate" />
		<result column="STATUS" property="status" />
	</resultMap>
	
	<resultMap type="product" id="productResultSet">
		<id column="PRODUCT_NO" property="productNo"/>
	    <result column="PRODUCT_CHANGE" property="productChange"/>
	    <result column="PRODUCT_NAME" property="productName"/>
	    <result column="PRODUCT_PRICE" property="productPrice"/>
	    
	    <result column="ORDER_IMPNO" property="orderImpno"/>
	    <result column="PRODUCT_COUNT" property="productCount"/>
	    <result column="DELIVERY_DATE" property="deliveryDate"/>
	    <result column="ORDER_STATUS" property="orderStatus"/>
	
	</resultMap>
	
	
	<select id="memberList" resultMap="memberResultSet">
		SELECT *
		  FROM MEMBER
		 ORDER BY ENROLL_DATE DESC
	
	</select>
	
	<select id="memberListCount" resultType="_int">
	
		SELECT COUNT(*)
		  FROM MEMBER
	
	</select>
	
	
	<update id="deleteMember" parameterType="string">
		UPDATE MEMBER
		   SET STATUS = 'N'
		 WHERE MEMBER_ID = #{memberId} 
		   AND STATUS = 'Y'
	</update>
	
	<update id="repairMember" parameterType="string">
		
		UPDATE MEMBER
		   SET STATUS = 'Y'
		 WHERE MEMBER_ID = #{memberId}
		   AND STATUS = 'N'
	</update>
	
	<select id="memberDetail" parameterType="string"
								resultMap="memberResultSet">
			SELECT *
			  FROM MEMBER
			 WHERE MEMBER_ID = #{memberId}					
	
	</select>
	
	
	<update id="memberUpdateForm" parameterType="member">
		
		UPDATE MEMBER
		   SET MEMBER_NAME = #{memberName}
		     , GENDER = #{gender}
		     , BIRTH_DATE = #{birthDate}
		     , EMAIL = #{email}
		     , PHONE = #{phone}
		     , ADDRESS = #{address}
		  WHERE MEMBER_ID = #{memberId}
	
	</update>

	<select id="searchMemberCount" parameterType="hashmap"
									resultType="_int">
		SELECT COUNT(*)
		  FROM MEMBER
		 WHERE 
		 <if  test="searchMenu == 'memberId'">
		 	MEMBER_ID
		 </if>
		 <if test="searchMenu == 'memberName'" >
		 	MEMBER_NAME
		 </if>	
		 LIKE '%' || #{searchText} || '%'
	</select>

	<select id="searchMember" parameterType="hashmap"
								resultMap="memberResultSet">
		SELECT *
		  FROM(
			SELECT ROWNUM RNUM, A.*
			FROM (
				SELECT MEMBER_ID,
					   MEMBER_NAME,
					   ENROLL_DATE,
					   STATUS
				  FROM MEMBER
				 WHERE 
				 <if test="searchMenu == 'memberId'" >
				 	MEMBER_ID LIKE '%' || #{searchText} || '%'
				 </if>
				 <if test="searchMenu == 'memberName'">
				 	MEMBER_NAME LIKE '%' || #{searchText} || '%'
				 </if>
				  
				ORDER BY ENROLL_DATE DESC
				) A
			)
		WHERE RNUM BETWEEN #{startRow} AND #{endRow}
	</select>
	
	<select id="orderProduct" parameterType="string"
							  resultMap="productResultSet">
		SELECT P.PRODUCT_NO,
			   P.PRODUCT_CHANGE,
		       O.ORDER_IMPNO,
		       P.PRODUCT_NAME,
		       P.PRODUCT_PRICE,
		       C.PRODUCT_COUNT,
		       O.DELIVERY_DATE,
		       O.ORDER_STATUS
		FROM CART C
		JOIN ORDER_TB O ON O.MEMBER_ID = C.MEMBER_ID
		JOIN PRODUCT P ON P.PRODUCT_NO = C.PRODUCT_NO
		WHERE C.MEMBER_ID=#{memberId}
	</select>


	<select id="filterCount" parameterType="string"
							resultType="_int">
		SELECT COUNT(*)
		  FROM MEMBER
		  <if test="item == '활성화'" >
		  WHERE STATUS = 'Y' 
		  </if>
		  <if test="itme == '비활성화'">
		  WHERE STATUS = 'N'
		  </if>
		  
	
	</select>
	
	<select id="filter" parameterType="hashmap"
						resultMap="memberResultSet">
		SELECT *
		  FROM (
			SELECT ROWNUM RNUM, A.*
			  FROM (
				SELECT *
				  FROM MEMBER
				 <if test="item == '활성화'">
				 WHERE STATUS = 'Y'
				 </if>
				 <if test="item == '비활성화'">
				 WHERE STATUS = 'N'
				 </if>
				 ORDER BY ENROLL_DATE DESC
				 ) A
			) 
		 WHERE RNUM BETWEEN #{startRow}	AND #{endRow}	
	</select>
	
	
	
	<select id="chart1Data" resultType="hashmap">
		SELECT TRUNC(ENROLL_DATE, 'MM') - MOD(TO_NUMBER(TO_CHAR(ENROLL_DATE, 'MM')) - 1, 3) * INTERVAL '1' MONTH AS QUARTER_START,
	           COUNT(*) AS TOTAL
		  FROM MEMBER
		 GROUP BY TRUNC(ENROLL_DATE, 'MM') - MOD(TO_NUMBER(TO_CHAR(ENROLL_DATE, 'MM')) - 1, 3) * INTERVAL '1' MONTH
		 ORDER BY QUARTER_START
		
	</select>
	
</mapper>
