#main {
    width: 1600px;
    height: 1500px;
    margin: auto;

}

.list-table {
    margin: auto;
    width: 1400px;
}
*{
    font-family: 'SeoulNamsanM';
}

table {
    border-spacing : 0px;
    margin : auto;
}

.list-area {
    width : 90%;
}
.list-area>tbody>tr:hover {
    cursor : pointer;
}

.form {
    width : 60%;
}
.form input, .form textarea {
    width : 100%;
    box-sizing : border-box;
    padding : 10px;
}
.form textarea {
    resize : none;
    height : 300px;
}
.form input[type=checkbox], .form input[type=radio] {
    width : 15px;
    margin : 15px;
}

#logout-btn {

    max-width: 100px;

}